.color-picker-component {
  position: absolute;
  z-index: 2;

  .page-background {
    position: fixed;
    top: 0;
    left: 0;
    background: none;
    border: none;
    padding: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
}
