.presets-component {
  .new-preset-description {
    font-style: italic;
    margin-bottom: 10px;
  }

  .new-preset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      margin-top: 10px;
    }
  }

  .preset-list-description {
    margin-top: 50px;
    margin-left: 15px;
  }

  .preset-list .preset {
    // Make space for additional IconButton's
    padding-right: 110px;

    .secondary-actions {
      display: flex;
      flex-direction: row;

      button {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }
}
