.switch-and-color-picker-component {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;

  .ColorPicker {
    position: absolute;
    z-index: 2;
  }

  .ColorPicker .Cover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
}
