.switch-and-color-picker-component {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;

    .ColorPicker {
      position: absolute;
      z-index: 2;
    }

    .ColorPicker .Cover {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }

    .ColorPickerButton {
      display: inline-flex;
      border: 1px solid black;
      border-radius: 8px;
      width: 20px;
      height: 20px;
      margin-right: 0.8em;
      position: relative;
      top: 7px;
      opacity: 0.3;
    }

    .ColorPickerButton.Enabled {
      opacity: 1;
      cursor: pointer;
    }
  }