[Unit]
Description=smartlights-backend
After=network.target

[Service]
Type=simple
User=smartlights
WorkingDirectory=/home/smartlights/smartlights/smartlights-backend
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target

