.App {
  text-align: center;
}

.LightSwitches {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
}

.SwitchAndColorPicker {
  text-align: left;
}

.ColorPicker {
  position: absolute;
  z-index: 2;
}

.ColorPicker .Cover {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.ColorPickerButton {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  margin-right: 0.8em;
  position: relative;
  top: 7px;
  opacity: 0.3;
}

.ColorPickerButton.Enabled {
  opacity: 1;
  cursor: pointer;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
}

.Loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 30px;
  height: 30px;
  animation: loader-spin 2s linear infinite;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
